<h1>EAT~DAT~SUSHI</h1>

<h2>Sushi Order!</h2>

<p>
  {{#each typeSushi}}
    {{#unless devoured}}
       {{>sushi/sushi-block sushi=true}}
    {{/unless}}
  {{/each}}
</p>

<h2>Sushi Devoured!</h2>

<p>
  {{#each typeSushi}}
     {{#if devoured}}
         {{>sushi/sushi-block sushi=false}}
     {{/if}}
  {{/each}}
</p>

<h2>Order Sushi</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"> Sushi Name:</label>
    <input type="text" id="ca" name="sushi_name">
  </div>

  <button type="submit">order Sushi!</button>
</form>